@{
    ViewBag.Title = "Home Page";
}

<div class="container" ng-controller="serviceController as serv">

    <!-- SEARCH BAR -->
    <div class="row" style="display: inline">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br />
            <input type="text" style="width: 100%" class="form-control" placeholder="What would you like to do?" />
            <button class="btn btn-success">Search</button> 
        </div>
        <div class="col-md-2"></div>
    </div>

    <!-- SERVICE LISTINGS -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <a href="/home/about">
                <h3>Name of Service</h3>
            </a>
            <p>address of service</p>
            <hr />

        </div>
        <div class="col-md-2"></div>
    </div>


</div><!-- container -->

@section scripts {
    <script type="text/javascript">

        (function () {
            "use strict";

            angular.module('myApp')
                .factory('$serviceService', ServiceService)

            ServiceService.$inject = ['$http']

            function ServiceService($http) {
                return {
                    getServices: _getServices,
                }
            }

            function _getServices() {
                var settings = {
                    async: true,
                    crossDomain: true,
                    url: "",
                    method: "GET",
                }
            }
        })

        (function () {
            "use strict";

            angular.module('myApp')
                .controller("serviceController", ServiceController)

            ServiceController.$inject = ['$scope', "$serviceService"]

            function ServiceController($scope, $serviceService) {

                var vm = this;

                vm.$scope = $scope;
                vm.$serviceService = $serviceService;

                render();
            }

            function render() {
                vm.$serviceService.
            }

        })();

    </script>
    }

