<div class="container" ng-controller="adminController as ad">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Create a Service</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="manageForm" novalidate>
                        <h4>General Information (Everything is Required Alpha Version)</h4>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="ad.item.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="description">Description:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="description" row="6" placeholder="Enter description" ng-model="ad.item.description" required></textarea>
                            </div>
                        </div>
                        <hr />
                        <h4>Contact Information(Will be nullable)</h4>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="ad.item.contactInfo.email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Phone Number:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" placeholder="Enter phone" ng-model="ad.item.contactInfo.phone" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Website:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="website" placeholder="Enter website" ng-model="ad.item.contactInfo.website" required>
                            </div>
                        </div>
                        <hr />
                        <h4>Address Information (Address Line 2 will be nullable)</h4>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="line1">Line 1:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="line1" placeholder="Enter line 1" ng-model="ad.item.addressInfo.addressline1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Line 2:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="line2" placeholder="Enter line 2" ng-model="ad.item.addressInfo.addressline2" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">City:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="city" placeholder="Enter city" ng-model="ad.item.addressInfo.city" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">State:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="state" placeholder="Enter state" ng-model="ad.item.addressInfo.state" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Zip:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="zip" placeholder="Enter zip" ng-model="ad.item.addressInfo.zip" required>
                            </div>
                        </div>
                        <hr />
                        <h4>Hours of Operation(Will be nullable)</h4>
                        <h5>Monday</h5>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Hours:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="zip" placeholder="Open to Closing" ng-model="ad.item.operationTime.monday" required>
                            </div>
                        </div>

                        <h5>Tuesday</h5>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Hours:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="zip" placeholder="Open to Closing" ng-model="ad.item.operationTime.tuesday" required>
                            </div>
                        </div>

                        <h5>Wednesday</h5>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Hours:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="zip" placeholder="Open to Closing" ng-model="ad.item.operationTime.wednesday" required>
                            </div>
                        </div>

                        <h5>Thursday</h5>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Hours:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="zip" placeholder="Open to Closing" ng-model="ad.item.operationTime.thursday" required>
                            </div>
                        </div>

                        <h5>Friday</h5>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Hours:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="zip" placeholder="Open to Closing" ng-model="ad.item.operationTime.friday" required>
                            </div>
                        </div>

                        <h5>Saturday</h5>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Hours:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="zip" placeholder="Open to Closing" ng-model="ad.item.operationTime.saturday" required>
                            </div>
                        </div>

                        <h5>Sunday</h5>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="website">Hours:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="zip" placeholder="Open to Closing" ng-model="ad.item.operationTime.sunday" required>
                            </div>
                        </div>
                        <hr />
                        <h4>Search Tags (Please Fill at least 1 Tag out)</h4>
                        <tags-input ng-model="ad.item.tags" display-property="name">
                            <auto-complete source="ad.currentTagsFilter($query)" load-on-focus="true" load-on-empty="true"></auto-complete>
                        </tags-input>



                        <hr />

                        <div class="form-group">
                            <div class="col-sm-10">
                                <button class="btn btn-default" ng-disabled="manageForm.$invalid" ng-click="ad.createService(ad.item)">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section scripts {
    <script>
        $('#timepicker1').timepicker();
    </script>

    <script>
        (function () {
            "use strict";

            angular.module('myApp')
                .factory('$adminService', AdminService)

            AdminService.$inject = ['$http'];

            function AdminService($http) {
                return {
                    sendService: _sendService,
                    getTags: _getTags
                }

                function _sendService(data) {
                    return $http.post('/api/main', data)
                        .then(onSuccessSendService);
                }

                function onSuccessSendService(response) {
                    console.log("success u sent a service");
                    return response.data;
                }
                function _getTags() {
                    
                    return $http.get('/api/main/tags')
                        .then(onSuccessGetTags)
                }

                function onSuccessGetTags(response) {
                    return response.data;
                }
            }
        })();

        (function () {
            "use strict";

            angular.module('myApp')
                .controller('adminController', AdminController)

            AdminController.$inject = ['$scope', '$adminService']

            function AdminController($scope, $adminService) {
                var vm = this;

                vm.$scope = $scope;
                vm.item = {};
                
                vm.$adminService = $adminService;
                vm.createService = _createService;
                vm.allTags = [];
                vm.getAllTags = _getAllTags;
                vm.hydrateTags = _hydrateTags;
                vm.currentTagsFilter = _currentTagsFilter;
                vm.redirect = _redirect;
                vm.item.tags = [];
                render();

                function render() {
                    vm.getAllTags();
                }

                function _createService() {
                    console.log(vm.item);
                    vm.item.postedBy = "Admin"
                    if (vm.item.tags.length < 1) {
                        alert("Please fill one tag out");
                        return;
                    }
                    $adminService.sendService(vm.item)
                        .then(vm.redirect);
                }

                function _redirect() {
                    self.location = "/Home/Index";
                }

                function _getAllTags() {
                    return vm.$adminService.getTags()
                        .then(vm.hydrateTags)
                }

                function _hydrateTags(data) {
                    for (var i = 0; i < data.Items.length; i++) {
                        vm.allTags.push({ name: data.Items[i].Name })
                    }
                    console.log(vm.allTags);

                }
                function _currentTagsFilter($query) {
                    var tags = vm.allTags;

                    return tags.filter(function (tag) {
                        return tag.name.toLowerCase().indexOf($query.toLowerCase()) != -1;
                    })
                }
            }

        })();
    </script>
    
    
}